//colors & bg
    $pageBGColor: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 50%, #000000 100%);
    $pageBGPattern: url("https://sden4.github.io/funbox_test_work/assets/images/bgpattern.png"); // path for correct display on github pages

    $mainBlue: #1698d9;
    $mainBlueHover: #2ea8e6;

    $itemBGColor: #f2f2f2;
    $itemBGColorOutOfStock: #b3b3b3;
    $itemBGColorChoosen: #d91667;
    $itemBGColorChoosenHover: #e62e7a;

    $textColorWhite: #fff;
    $textColorBlack: #000;
    $textColorSemiBlack: #666;
    $testColorBottomOutOfStock: #ffff66;
    $textColorUpperSubtitleChoosen: #e62e7a;

//fonts
    $mainFont: 'TrebuchtMS', sans-serif;
    $titleFont: 'Exo 2', sans-serif;

//animation's duration
    $animationDuration: .3s;

//resolutions
    $desktop: 1280px;
    $laptop: 980px;
    $additional: 820px;
    $tablet: 768px;
    $smartphone: 480px;
    $phone: 320px;