.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: $titleFont;
    font-weight: 100;
    font-size: 36px;
    color: $textColorWhite;
    margin-bottom: 22px;
    text-align: center;
}

.main__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}