.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    margin: 0 40px 40px;

    @include additional {
        margin: 0 25px 40px;
    }

    @include smartphone {
        margin: 0 0 30px;
    }
}

.item__main {
    position: relative;
    width: 320px;
    height: 480px;
    border-radius: 0 12px 12px 12px;
    margin-bottom: 15px;
    -webkit-tap-highlight-color: transparent; // delete mark of tap in mobile version
}

.item__main_active {
    cursor: pointer;
    background: linear-gradient(135deg, transparent 30px, $mainBlue 0) top left;

    &:hover {
        background: linear-gradient(135deg, transparent 30px, $mainBlueHover 0) top left;

        .item__weight {
            background-color: $mainBlueHover;
        }
    }
}

.item__main_out-of-stock {
    cursor: unset;
    background: linear-gradient(135deg, transparent 30px, $itemBGColorOutOfStock 0) top left;
}

.item__main_choosen {
    background: linear-gradient(135deg, transparent 30px, $itemBGColorChoosen 0) top left;

    &:hover {
        background: linear-gradient(135deg, transparent 30px, $itemBGColorChoosenHover 0) top left;

        .item__weight {
            background-color: $itemBGColorChoosenHover;
        }

        .item__upper-subtitle {
            display: none;
        }

        .item__upper-subtitle_choosen {
            display: block;
            color: $textColorUpperSubtitleChoosen;
        }
    }
}

.item__main_container {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border-radius: inherit;
    overflow: hidden;
    background: linear-gradient(135deg, transparent 29px, $itemBGColor 0) top left;
}

.item__main_container_out-of-stock {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border-radius: inherit;
    overflow: hidden;
    background: linear-gradient(135deg, transparent 29px, $itemBGColor 0) top left;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: inherit;
        height: inherit;
        background: linear-gradient(135deg, transparent 29px, rgba($color: #fff, $alpha: .5) 0) top left;
    }
}

.item__content {
    position: relative;
    z-index: 10;
    margin: 16px 0 0 44px;
}

.item__subtitle {
    font-size: 48px;
    font-weight: bold;
    color: $textColorBlack;
}

.item__subtitle_sort {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 13px;
    color: $textColorBlack;
}

.item__upper-subtitle {
    display: block;
    margin-bottom: 6px;
    color: $textColorSemiBlack;
}

.item__upper-subtitle_choosen {
    display: none;
    margin-bottom: 6px;
}

//class for hover effect
.item__upper-subtitle_hard {
    display: block !important;
}

//class for hover effect
.item__upper-subtitle_choosen_hard {
    display: none !important;
}

.item__description {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    color: $textColorSemiBlack;
}

.item__description_value {
    margin-right: 3px;
    font-weight: bold;
}

.item__picture_wrapper {
    position: absolute;
    top: 204px;
    left: -24px;
}

.item__picture {
    width: 108%;
    height: 108%;
}

.item__weight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: $animationDuration;
    color: $textColorWhite;
    background-color: $mainBlue;
}

.item__weight_out-of-stock {
    background-color: $itemBGColorOutOfStock;
}

.item__weight_choosen {
    background-color: $itemBGColorChoosen;
}

.item__weight_value {
    font-size: 42px;
    line-height: 44px;
}

.item__weight_text {
    font-size: 22px;
    line-height: 16px;
}

.item__bottom {
    display: flex;
    font-size: 13px;
}

.item__bottom_text {
    line-height: 16px;
    text-align: center;
    color: $textColorWhite;
}

.item__bottom_text_out-of-stock {
    color: $testColorBottomOutOfStock;
}

.item__bottom_link {
    margin-left: 3px;
    border-bottom: 1px dashed $mainBlue;
    transition: $animationDuration;
    color: $mainBlue;

    &:hover {
        color: $mainBlueHover;
    }
}