.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 510px;
    margin: 0 40px 40px;

    &:last-child {
        margin: 0 40px 20px;
    }

    @include additional {
        margin: 0 25px 40px;

        &:last-child {
            margin: 0 25px 20px;
        }
    }

    @include smartphone {
        margin: 0 0 30px;

        &:last-child {
            margin: 0 0 20px;
        }
    }
}

.item__main {
    width: 320px;
    height: 480px;
    border-radius: 0 12px 12px 12px;
    position: relative;
}

.item__main_active {
    background: linear-gradient(135deg, transparent 30px, $mainBlue 0) top left;
    cursor: pointer;

    &:hover {
        background: linear-gradient(135deg, transparent 30px, $mainBlueHover 0) top left;
    }

    &:hover .item__weight {
        background-color: $mainBlueHover;
    }
}

.item__main_out-of-stock {
    background: linear-gradient(135deg, transparent 30px, $itemBGColorOutOfStock 0) top left;
    cursor: unset;
}

.item__main_choosen {
    background: linear-gradient(135deg, transparent 30px, $itemBGColorChoosen 0) top left;

    &:hover {
        background: linear-gradient(135deg, transparent 30px, $itemBGColorChoosenHover 0) top left;
    }

    &:hover .item__weight {
        background-color: $itemBGColorChoosenHover;
    }

    &:hover .item__upper-subtitle_choosen {
        display: block;
        color: $textColorUpperSubtitleChoosen;
    }

    &:hover .item__upper-subtitle {
        display: none;
    }
}

.item__main_container {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border-radius: inherit;
    background: linear-gradient(135deg, transparent 29px, $itemBGColor 0) top left;
    overflow: hidden;
}

.item__main_container_out-of-stock {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    border-radius: inherit;
    background: linear-gradient(135deg, transparent 29px, $itemBGColor 0) top left;
    overflow: hidden;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: inherit;
        height: inherit;
        background: linear-gradient(135deg, transparent 29px, rgba($color: #fff, $alpha: .5) 0) top left;
    }
}

.item__content {
    margin: 16px 0 0 44px;
}

.item__upper-subtitle {
    color: $textColorSemiBlack;
    margin-bottom: 6px;
}

.item__upper-subtitle_choosen {
    margin-bottom: 6px;
    display: none;
}

.subtitle {
    font-size: 48px;
    color: $textColorBlack;
    font-weight: bold;
}

.subtitle__sort {
    font-size: 24px;
    color: $textColorBlack;
    font-weight: bold;
    margin-bottom: 13px;
}

.item__description {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    color: $textColorSemiBlack;
}

.item__description_value {
    margin-right: 3px;
    font-weight: bold;
}

.item__picture_wrapper {
    position: absolute;
    top: 202px;
    left: -28px;
}

.item__picture {
    max-width: 110%;
}

.item__weight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $mainBlue;
    color: $textColorWhite;
    transition: $animationDuration;
}

.item__weight_out-of-stock {
    background-color: $itemBGColorOutOfStock;
}

.item__weight_choosen {
    background-color: $itemBGColorChoosen;
}

.item__weight_value {
    font-size: 42px;
    line-height: 44px;
}

.item__weight_text {
    font-size: 22px;
    line-height: 16px;
}

.item__bottom {
    display: flex;
    font-size: 13px;
}

.item__bottom_text {
    line-height: 16px;
    color: $textColorWhite;
}

.item__bottom_text_out-of-stock {
    color: $testColorBottomOutOfStock;
}

.item__bottom_link {
    color: $mainBlue;
    border-bottom: 1px dashed $mainBlue;
    transition: $animationDuration;
    margin-left: 3px;

    &:hover {
        color: $mainBlueHover;
    }
}